# python Language Basics, and Jupyter Notebooks

# Python Language

In [1]:
a = 5; b = 6; c = 7

In [2]:
c

7

In [3]:
a = 5
isinstance(a, int)

True

In [4]:
a = 5; b = 4.5
isinstance(a, (int,float))
isinstance(b, (int,float))

True

# Attributes and methods

## Objects in Python typically have both attributes(other Python stored "inside" the object) and methods(functions associated with an object that can have access to the object's internal data).

# Imports

## In Python a module is simply a file with the py. extension containing Python code. Suppose that we had the following module:

In [14]:
#some_module.py

In [18]:
import some_module
result = some_module.f(5)

In [19]:
pi = some_module.PI
pi

3.14

# Or equivalently:

In [20]:
from some_module import f, g, PI
result = g(5, PI)
result

8.14

## By using the as keyword you can give imports different variable names:

In [22]:
import some_module as sm 
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

In [23]:
r1

5.140000000000001

In [24]:
r2

9.14

## Python strings are immutable; you cannot modify a string:

In [25]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [26]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [27]:
a

'this is a string'

In [41]:
a = None
a is None

True

In [42]:
b = 5
b is not None

True

## None is also a common default value for function arguments:

In [1]:
def add_and_maybe_multiply(a, b, c=None):
     result = a + b
  
     if c is not None:
        result = result * c
     
     return result

In [2]:
add_and_maybe_multiply(5,3)

8

In [3]:
add_and_maybe_multiply(5,3,10)

80

# Dates and times

## The built-in Python datetime module provides datetime, date, and time types.
## The datetime type, as you may imagine, combines the information stored in date and time and is the most commonly used:

In [8]:
from datetime import datetime, date, time
dt = datetime(2011,10, 29, 20, 30, 21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [9]:
dt.day

29

In [10]:
dt.minute

30

## Given a datetime instance, you can extract the equivalent date and time objects by calling methods on the datetime of the same name:

In [12]:
dt.date()

datetime.date(2011, 10, 29)

In [13]:
dt.time()

datetime.time(20, 30, 21)

## The strftime method formats a datetime as a string:

In [16]:
dt.strftime("%m/%d/%Y %H:%M")

'10/29/2011 20:30'

In [17]:
dt.strftime("%Y/%m/%d %H:%M")

'2011/10/29 20:30'

## strings can be converted (parsed) into datetime objects with the strptime function:

In [19]:
datetime.strptime('20091031','%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

## when you are aggregating or otherwise grouping time series data, it will occasionally be useful to replace time fields of a series of detetime-for example, replacing the minute and second fields with zero:

In [20]:
dt.replace(minute= 0, second = 0)

datetime.datetime(2011, 10, 29, 20, 0)

In [21]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 -dt
delta

datetime.timedelta(days=17, seconds=7179)